.global-nav{
	background: #fff;
	width: 100%;
	height: 70px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-bottom: 1px solid #dadada;
	position: fixed;
	position: sticky;
	position: -webkit-sticky;
	top: -70px;
	left: 0;
	z-index: 1000;
}
.global-nav a.logo{
	background: #fff;
	height: 100%;
	width: 200px;
	display: block;
	z-index: 1001;
	position: relative;
}
.global-nav #logo{
	position: absolute;
	left: 20px;
	top: 12px;
}
.global-nav aside{
	width: 200px;
	position: absolute;
	top: 70px;
	background: rgba(245,245,245,0.9);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.global-nav #tabs a{
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0 32px;
	color: #666;
	font-weight: lighter;
}
.global-nav #tabs a[selected]{
	color: #fff;
	background: #333;
}
.global-nav #tabs a:not([selected]):hover{
	color: #333;
	background: rgba(0,0,0,0.1);
}
.global-nav #extensions{
	background: rgba(238,238,238,0.9);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.global-nav #extensions a{
	display: block;
	color: #999;
	font-weight: lighter;
	padding: 12px 32px;
	font-size: 13px;
}
.global-nav #extensions a:hover{
	background: #ccc;
}

.global-nav #button{
	position: absolute;
	top: 20px;
	right: 30px;
	background: #4b2e83;
	color: #fff;
	padding: 8px;
	margin: 0;
	display: none;
}
@media (max-width: 600px){
	body{
		padding-top: 70px;
	}
	.global-nav aside{
		display: none;
	}
	.global-nav{
		position: fixed;
		top: 0px;
	}
	.global-nav #button{
		display: block;
	}
}