#project > h1{
	color: #4b2e83;
	font-weight: normal;
}
#project img{
	width: 100%;
}
#project figcaption{
	font-size: 13px;
	color: #666;
}
#project aside{
	width: 200px;
	position: absolute;
	right: 0;
	top: 40px;
	font-size: 12px;
	line-height: 20px;
	color: #666;
	padding: 16px 8px;
	text-align: left;
	border-left: 1px solid #ccc;
}
#project aside h1{
	margin: 0 0 4px 0;
}
#project aside a{
	display: block;
	padding: 0 8px;
	border-radius: 3px;
	color: #4b2e83;
}
#project aside a:hover{
	background: #eee;
}
#project #people{
	display: flex;
	flex-wrap: wrap;
}
#project #people a {
	display: block;
	width: 150px;
	overflow: hidden;
}
#project #people img{
	display: block;
	padding: 4px;
}
#project #people span{
	padding: 4px;
	color: #666;
	display: block;
	text-align: center; 
}
@media (max-width: 1200px){
	#project aside{
		width: 100%;
		position: relative;
		border: none;
		font-size: 14px;
		border-top: 1px solid #ccc;
	}
	#project aside h1{
		margin-bottom: 5px;
		font-size: 16px;
		color: #333;
	}
	#project aside a{
		padding: 8px 16px;
	}
}