/*
	Drift by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Banner */

	#banner {
		padding: 5em 0;
	}
	.box.post.project{
			min-height:460px;
			max-height:460px;
		}

		#people .box.post{
			max-height:380px;
			min-height:375px;
		}