---
layout: news
---
<link rel="stylesheet" type="text/css" href="/css/news.css">
<section id="post">
	{% if site.categories.news == null %}
		<div class="empty">There is no post yet</div>
	{% else %}
		<div class="container center">
		{% for post in site.categories.news %}
			<div class="card">
				<a href="{{post.url}}">
					{% if post.image %}
						<img src="/{{post.image}}">
					{% endif %}
					<span>{{post.date | date: "%B %d, %Y" }}</span>
					<h1>{{post.title}}</h1>
					<p>{{post.excerpt}}</p>
				</a>
				<div class="tags">Tags:
					{% for tag in post.tags %}
						<span>{{tag}}</span>
					{% endfor%}
				</div>
			</div>
		{% endfor %}
		</div>
	{% endif %}
</section>