<section id="about" class="wrapper style2">
				<div class="container">
						<h2>About Urbanalytics</h2>
						<p align="justify">With over 80% of the planet impacted by urbanization in an accelerating trend, 
						this moment in history is defined by a clarion call for inclusive, data-driven innovation to improve the resiliency, 
						health, and well-being of cities. Luckily, as culture and communications expert 
						<a href="http://www.newschool.edu/facultyexperts/faculty.aspx?id=78764" title="Shannon Mattern">Shannon Mattern </a>
						noted in 2013, “we have citizen scientists and public labs, urban explorers and infrastructural tourists generating and
						collecting their own data, in the form of quantitative readings of air quality, soil samples from brownfields, or noise 
						readings from industrial sites. Elsewhere, we have civic hackers hacking away on open data, developing a cornucopia of apps 
						and data visualizations to disseminate social and environmental justice, one iPhone at a time.”</p>

						<p class="align-justify"> As an effort led by <a href="http://homes.cs.washington.edu/~billhowe/" title="">Bill Howe</a>, with 
						<a href="http://escience.washington.edu/" title="">eScience Institute</a> and <a href="https://ischool.uw.edu/" title="">the 
						Information School</a> and founding executive committee member of <a href="http://urban.uw.edu">Urban@UW</a>, we are designing, 
						scoping, and project sourcing for Urbanalytics, a campus-wide effort to advance municipal big data projects. The Urbanalytics 
						Studio will bridge expertise from the eScience Institute, the <a href="https://csde.washington.edu/" title="">Center for Studies 
						in Demography and Ecology (CSDE)</a>, and faculty from across the Urban@UW network to establish a permanent capacity for high-impact
						data-driven analytics and research projects on behalf of government and community stakeholders, addressing the complex challenges 
						and opportunities of the urban landscape. This program will be unique in its ability to deploy 1) the advanced skills, tools, and 
						techniques of data science; 2) the oversight, rigor, and robust perspective of the academic research community studying urban issues
						from the social to the environmental, from economics to policy; and 3) a strong engagement with key stakeholders in local city and 
						community leadership to ensure translation into practice. The Urbanalytics Studio will offer a “data voice” often missing in the 
						politics and opinions of urban challenges. And more importantly, it will support a shift in UW focus in this sphere from “R&amp;D” 
						to “RD&amp;D”—- research, development, and deployment into practice and policy.</p>
						
						<h2>Get Involved</h2>
						<p class="align-justify">Urbanalytics is seeking research projects that  build collaborations among  interdisciplinary partners and/or external stakeholders and incorporate computational or data science work; one-quarter “incubator” projects seeking visibility or development to advance fundable projects; data scientists who want to apply their skills to urban social issues; and urban researchers who want to incorporate data science into their work.</p>
						<p class="align-justify">Our initial goal is to assess the demand for various resources — skills, funding, datasets, external partners, faculty guidance.  We seek to find ways to play a matchmaking role, sometimes augmented with external funding as appropriate and available.</p>
						<p class="align-justify">Projects with the potential to generate comparative analytics or regional data projects in partnership with the University of British Columbia in Vancouver, Canada should visit the <a href="http://cascadiadata.org/" title="">Cascadia Urban Analytics Cooperative</a> website, and specify that interest or connection below.</p>
						<p class="align-justify"><script>(function(t,e,n,o){var s,c,i;t.SMCX=t.SMCX||[],e.getElementById(o)||(s=e.getElementsByTagName(n),c=s[s.length-1],i=e.createElement(n),i.type="text/javascript",i.async=!0,i.id=o,i.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/MXgX_2FGi9t24lhYKG8o36UQDqCyk7eKm9KtHf5X9vNQ3I17UpdaWnGPKkO1Ar2wy4.js"].join(""),c.parentNode.insertBefore(i,c))})(window,document,"script","smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com> Create your survey with SurveyMonkey </a></p>
				</div>
</section>