<style>
	#banner{
		height: 350px;
		background-color: #666;
		background-image: url(/images/banner/banner.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
	}
	#banner .container{
		height: 100%;
		padding-top: 100px;
	}
	#banner .container > * {
		margin: 0 auto;
		display: block;
		text-align: center;
		color: rgba(255,255,255,0.8); 
		font-size: 20px;
		margin-bottom: 30px;
	}
</style>
<section id="banner">
	<div class="container center">
		<img src="/images/banner/urbanalytics-logo.png" width="326" height="76">
		<p>Urban Data Science, Responsibly</p>
	</div>
</section>