<!-- Footer -->
			<footer id="footer">
			<ul class="icons">
					<li><a href="mailto:urbandat@uw.edu" class="icon fa-envelope"><span class="label">Email</span></a></li>
					<li><a href="https://twitter.com/uwurbanalytics" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				</ul>
				<!--<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Contact</a></li>
				</ul> -->				
				<div class="4u 6u(2) 12u$(3)" style="margin-left:auto; margin-right:auto">
  <a class="twitter-timeline" data-height="500" data-link-color="#4b2e83" href="https://twitter.com/uwurbanalytics">Tweets by Urbanalytics</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
				<span class="copyright">
					&copy; Urbanalytics 2017. All rights reserved. Template by <a href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>
				</span>
			</footer>
			<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86542874-1', 'auto');
  ga('send', 'pageview');

</script>