<link rel="stylesheet" type="text/css" href="/css/footer.css">
<footer id="uw-logo">
	<div class="container center">
		<img src="/images/footer/uw-logo.png" srcset="/images/footer/uw-logo.png 1x, /images/footer/uw-logo@2x.png 2x" width="50">
	</div>
</footer>
<footer id="global-footer">
	<div class="container center">
		<div id="twitter-feed">
			<a class="twitter-timeline" data-height="500" data-link-color="#4b2e83" href="https://twitter.com/uwurbanalytics">Tweets by Urbanalytics</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
		<div id="copyright">Urbanalytics 2017. All rights reserved.</div>
	</div>
</footer>