<title>Urbanalytics</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Urbanalytics is a campus-wide effort to advance municipal big data projects. The Urbanalytics Studio will bridge expertise from the eScience Institute, the Center for Studies in Demography and Ecology, and faculty from across the Urban@UW network to establish a permanent capacity for high-impact data-driven analytics and research projects on behalf of government and community stakeholders, addressing the complex challenges and opportunities of the urban landscape.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/global.js"></script>
<link rel="stylesheet" type="text/css" href="/css/global.css">