<title>Urbanalytics</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Urbanalytics is a campus-wide effort to advance municipal big data projects. The Urbanalytics Studio will bridge expertise from the eScience Institute, the Center for Studies in Demography and Ecology, and faculty from across the Urban@UW network to establish a permanent capacity for high-impact data-driven analytics and research projects on behalf of government and community stakeholders, addressing the complex challenges and opportunities of the urban landscape.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/js/jquery-3.2.1.min.js"></script>
<style>
	*{
		box-sizing: border-box;
	}
	body{
		margin: 0;
		background: #f7f7f7;
		font-family: sans-serif;
	}
	a{
		text-decoration: none;
		color: #4b2e83;
	}
	section, footer{
		width: 100%;
		position: relative;
	}
	section{
		padding-top: 10px;
	}
	section .container, footer .container{
		width: calc(100vw - 250px);
		margin-left: 225px;
	}
	section > h1{
		margin-left: 225px;
		font-weight: lighter;
		color: #666;
		font-size: 35px;
	}
	.card{
		background-color: #fff;
		margin: 10px;
		border-radius: 3px;
		box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.1);
	}
	section .container.center, footer .container.center{
		line-height: 1.5em;
		color: #333;
		text-align: justify;
	}

	@media (min-width: 1200px){
		section .container.center, footer .container.center, section h1, footer h1{
			max-width: calc(100vw - 450px);
		}
	}
	@media (min-width: 1440px){
		section .container.center, footer .container.center{
			width: 1200px;
			margin: 0 auto;
		}
		section > h1{
			width: 1200px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	@media (max-width: 600px){
		section .container, footer .container{
			width: 100vw;
			margin-left: 0px;
			padding: 0 16px;
			line-height: 1.3em !important;
			text-align: left !important;
		}
		section > h1{
			margin-left: 16px;
			margin-right: 16px;
		}
	}
</style>
<script>
	//Open external links in new tabs
	$(function() {
		var website = window.location.hostname,
			internalLinkRegex = new RegExp('^((((http:\\/\\/|https:\\/\\/)(www\\.)?)?'
										 + website
										 + ')|(localhost:\\d{4})|(\\/.*))(\\/.*)?$', '');
		$('a')
			.filter(function() {
				return !internalLinkRegex.test($(this).attr('href'));
			})
			.attr('target', '_blank');
	})
</script>