

		<!-- Header -->
			<header id="header">
				<h1><a href="{{site.url}}">urban<span style="font-weight: 100">alytics</span></a></h1>
				<nav id="nav">
					<ul>
						<li>
							<a href="{{site.url}}#projects">Affiliated Projects </a>
						<!--	<ul>
								<li><a href="left-sidebar.html">Array of Things</a></li>
								<li><a href="right-sidebar.html">OpenSidewalks</a></li>
								<li><a href="no-sidebar.html">Transportation</a></li>
								<li><a href="no-sidebar.html">Homelessness</a></li>
							</ul> -->
						</li>
						<li><a href="{{site.url}}#about">About</a></li>
						<li><a href="{{site.url}}#cuac">CUAC</a></li>
						<li><a href="{{site.url}}#metrolab">Metrolab</a></li>
						<li><a href="{{site.url}}#people">People</a></li>
						<li><a href="{{site.url}}#partners">Partners/Sponsors</a></li>
						<li><a href="{{site.url}}news/">News</a></li>
					</ul>
				</nav>
			</header>