

		<!-- Header -->
			<header id="header" class="alt skel-layers-fixed">
				<h1><a href="index.html">urban<span style="font-weight: 100">alytics</span></a></h1>
				<nav id="nav">
					<ul>
						<li>
							<a href="#projects">Affiliated Projects </a>
						<!--	<ul>
								<li><a href="left-sidebar.html">Array of Things</a></li>
								<li><a href="right-sidebar.html">OpenSidewalks</a></li>
								<li><a href="no-sidebar.html">Transportation</a></li>
								<li><a href="no-sidebar.html">Homelessness</a></li>
							</ul> -->
						</li>
						<li><a href="#about">About</a></li>
						<li><a href="#cuac">CUAC</a></li>
						<li><a href="#metrolab">Metrolab</a></li>
						<li><a href="#people">People</a></li>
						<li><a href="#partners">Partners/Sponsors</a></li>
					</ul>
				</nav>
			</header>