<link rel="stylesheet" type="text/css" href="/css/nav.css">
<nav class="global-nav">
	<a class="logo" href="/"><img id="logo" src="/images/nav/logo.png" srcset="/images/nav/logo.png 1x, /images/nav/logo@2x.png 2x" width="163" height="38"></a>
	<aside>
		<div id="tabs">
			<a href="/#projects" anchor {% if include.page == "project" %} selected {% endif%}>Affiliated Projects</a>
			<a href="/#about" anchor>About</a>
			<a href="/#cuac" anchor>CUAC</a>
			<a href="/#metrolab" anchor>Metrolab</a>
			<a href="/#people" anchor>People</a>
			<a href="/#partners" anchor>Partners/Sponsors</a>
			<a href="/news/" {% if include.page == "news" %} selected {% endif%}>News</a>
		</div>
		<div id="extensions">
			<a href="mailto:urbandat@uw.edu">Send Us Email</a>
			<a href="https://twitter.com/uwurbanalytics">Follow Our Twitter</a>
		</div>
	</aside>
		{% if include.page == "homepage" %}
			<a id="button" class="card" href="/news/">News</a>
		{% else %}
			<a id="button" class="card" href="/">Home</a>
		{% endif %}
</nav>
{% if include.page == "homepage" %}
<script src="/js/nav.js"></script>
{% endif %}