<style>
	.global-nav{
		background: #fff;
		width: 100%;
		height: 70px;
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
		border-bottom: 1px solid #dadada;
		position: fixed;
		position: sticky;
		position: -webkit-sticky;
		top: -70px;
		left: 0;
		z-index: 1000;
	}
	.global-nav a.logo{
		background: #fff;
		height: 100%;
		width: 200px;
		display: block;
		z-index: 1001;
		position: relative;
	}
	.global-nav #logo{
		position: absolute;
		left: 20px;
		top: 12px;
	}
	.global-nav aside{
		width: 200px;
		position: absolute;
		top: 70px;
		background: rgba(245,245,245,0.9);
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
	}
	.global-nav #tabs a{
		display: block;
		height: 50px;
		line-height: 50px;
		padding: 0 32px;
		color: #666;
		font-weight: lighter;
	}
	.global-nav #tabs a[selected]{
		color: #fff;
		background: #333;
	}
	.global-nav #tabs a:not([selected]):hover{
		color: #333;
		background: rgba(0,0,0,0.1);
	}
	.global-nav #extensions{
		background: rgba(238,238,238,0.9);
		box-shadow: 0 0 5px rgba(0,0,0,0.1);
	}
	.global-nav #extensions a{
		display: block;
		color: #999;
		font-weight: lighter;
		padding: 12px 32px;
		font-size: 13px;
	}
	.global-nav #extensions a:hover{
		background: #ccc;
	}

	.global-nav #button{
		position: absolute;
		top: 20px;
		right: 30px;
		background: #4b2e83;
		color: #fff;
		padding: 8px;
		border-radius: 3px;
		display: none;
	}
	@media (max-width: 600px){
		body{
			padding-top: 70px;
		}
		.global-nav aside{
			display: none;
		}
		.global-nav{
			position: fixed;
			top: 0px;
		}
		.global-nav #button{
			display: block;
		}
	}
</style>
<nav class="global-nav">
	<a class="logo" href="/"><img id="logo" src="/images/nav/logo.png" srcset="/images/nav/logo.png 1x, /images/nav/logo@2x.png 2x" width="163" height="38"></a>
	<aside>
		<div id="tabs">
			<a href="/#projects" anchor {% if include.page == "project" %} selected {% endif%}>Affiliated Projects</a>
			<a href="/#about" anchor>About</a>
			<a href="/#cuac" anchor>CUAC</a>
			<a href="/#metrolab" anchor>Metrolab</a>
			<a href="/#people" anchor>People</a>
			<a href="/#partners" anchor>Partners/Sponsors</a>
			<a href="/news/" {% if include.page == "news" %} selected {% endif%}>News</a>
		</div>
		<div id="extensions">
			<a href="mailto:urbandat@uw.edu">Send Us Email</a>
			<a href="https://twitter.com/uwurbanalytics">Follow Our Twitter</a>
		</div>
	</aside>
		{% if include.page == "homepage" %}
			<a id="button" href="/news/">News</a>
		{% else %}
			<a id="button" href="/">Home</a>
		{% endif %}
</nav>
{% if include.page == "homepage" %}
<script>
	$(function(){
		var offsets,
			updateLock = false,
			$tabs = $("nav #tabs a[anchor]"),
			$sections = $("section.nav-anchor")
		$(document)
			.scroll(updateIndicator)
		$(window)
			.resize(updateOffsets)

		$tabs.click(function(e){
			e.preventDefault();
			updateLock = true;
			selectIndicator($(this).index())
			$("html, body")
				.stop()
				.animate({scrollTop: offsets[$(this).index()]}, function(){updateLock = false})
		})
		function updateOffsets(){
			offsets = []
			$sections.each(function(){
				offsets.push($(this).offset().top)
			})
			updateIndicator()
		}
		updateOffsets();

		function updateIndicator(){
			if(!updateLock){
				selectIndicator()
				var scrollTop = $(document).scrollTop();
				for(var i=offsets.length-1; i>=0; i--){
					if(scrollTop >= offsets[i] - 100){
						selectIndicator(i)
						break
					}
				}
			}
		}

		function selectIndicator(index){
			$tabs
				.attr("selected", null)
				.eq(index)
				.attr("selected", "true")
		}

		history.replaceState("", document.title, window.location.pathname);
	})
</script>
{% endif %}