<style>
	#people .container{
		display: flex;
		flex-wrap: wrap;
	}
	#people .card{
		width: 20%;
		max-width: 250px;
		min-width: 150px;
		overflow: hidden;
		transition: background 0.5s;
	}
	#people .card img{
		width: 100%;
	}
	#people .card span{
		font-size: 20px;
		display: block;
		padding: 16px 16px 0 16px;
	}
	#people .card p{
		padding: 0 16px;
		font-size: 14px;
		color: #666;
	}
	#people .card *{
		transition: all 0.5s;
	}
	#people .card:hover{
		background: #4b2e83;
	}
	#people .card:hover *{
		color: #fff;
	}
	#people .card:hover img{
		transform: scale(0.95, 0.95);
	}
	@media(max-width: 600px){
		#people .card{
			width: calc(50vw - 24px);
			margin: 4px;
			max-width: none;
			min-width: none;
		}
	}
</style>
<section id="people" class="nav-anchor">
	<h1>People</h1>
	<div class="container">
		{% for people in page.people %}
		<div class="card">
			<a href="{{ people.link }}"><img src="images/people/{{ people.img }}" alt="{{ people.alt }}"></a>
			<a href="{{ people.link }}"><span>{{ people.name }}</span></a>
			<p>{{ people.aff }}</p>
			<p>{{ people.project }}</p>
		</div>
		{% endfor %}
	</div>
</section>