<!-- Affiliated Projects e -->
		<section id="projects" class="wrapper style1">
			<div class="container">
				<div class="row">
					
					<div class="4u 6u(2) 12u$(3)">
						<article class="box post project">
							<img src="images/transportation.png" alt="Equitable Transportation Icon" height="30%"/></a>
							<h2 >Equitable Transportation</h2>
							<ul class="alt">
							{% for post in site.categories.transportation %}
							{% if post.link %}
							<li><h3> <a href="{{ post.link }}" >{{ post.name}}</a></h3></li>
							{% else %}	
							<li><h3> <a href="{{ post.url }}" >{{ post.name }}</a></h3></li>
							{% endif %}
							{% endfor %}
							</ul>
						</article>
					</div>


					<div class="4u 6u(2) 12u$(3)">
						<article class="box post project">
							<img src="images/data_icon.png" alt="Responsible Data Management Icon" height="30%"/></a>
							<h2>Responsible Data Management</h2>
							<ul class="alt">
							{% for post in site.categories.responsible-data %}
							{% if post.link %}
							<li><h3><a href="{{ post.link }}" >{{ post.name}}</a></h3></li>
							{% else %}	
							<li><h3><a href="{{ post.url }}" >{{ post.name }}</a></h3></li>
							{% endif %}
							{% endfor %}
							</ul>
						</article>
					</div>

					<div class="4u 6u(2) 12u$(3)">
						<article class="box post project">
							<img src="images/homelessness.png" alt="Data Driven Human Services Icon" height="30%"/></a>
							<h2 >Data-Driven Human Services</h2>
							<ul class="alt">
							{% for post in site.categories.human-services %}
							{% if post.link %}
							<li><h3><a href="{{ post.link }}" >{{ post.name}}</a></h3></li>
							{% else %}	
							<li><h3><a href="{{ post.url }}" >{{ post.name }}</a></h3></li>
							{% endif %}
							{% endfor %}
							</ul>
						</article>
					</div>

					
				</div>
			</div>
		</section>