<!-- Affiliated Projects e -->
		<section id="projects" class="wrapper style1">
			<div class="container">
					<h2>Affiliated Projects</h2>
				<div class="row">
					{% for post in site.categories.projects %}
					<div class="{{ post.home_layout }}">
						<article class="box post project">
							{% if post.link %}
							<a href="{{ post.link }}" class="image fit">
							{% else %}	
							<a href="{{ post.url }}" class="image fit">
							{% endif %}
							<img src="images/{{ post.img }}" alt="{{ post.alt }}" /></a>
							<h3>{{ post.name }}</h3>
							<p>Led by:<br/> <a href="{{ post.collab1_link }}"> {{ post.collab1 }}</a>, {{ post.aff1 }} 
							{% if post.collab2 %}
							and <a href="{{ post.collab2_link }}">{{ post.collab2 }}</a>, {{ post.aff2 }}<br/></p>
							{% endif %}
							{% if post.status == "Learn More" %}
							<ul class="actions">
								{% if post.link %}
								<li><a href="{{ post.link }}" class="button">Learn More</a></li>
								</ul>
								{% else %}	
								<li><a href="{{ post.url }}" class="button">Learn More</a></li>
							</ul>
								{% endif %}
							{% else %}
							<span class="btn nohover"><strong>Coming Soon</strong></span>
							{% endif %}
						</article>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>