<link rel="stylesheet" type="text/css" href="/css/projects.css">
<section id="projects" class="nav-anchor">
	<h1>Affliated Projects</h1>
	<div class="container center">
		<div class="category">
			<img src="/images/projects/transportation.png" 
				 srcset="/images/projects/transportation.png 1x,
				 		 /images/projects/transportation@2x.png 2x">
			<h2>Equitable Transportation</h2>
			{% for post in site.categories.transportation %}
				{% if post.link %}
					<a class="card" href="{{ post.link }}">{{ post.name }}</a>
				{% else %}
					<a class="card" href="{{ post.url }}">{{ post.name }}</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class="category">
			<img src="/images/projects/data.png"
				 srcset="/images/projects/data.png 1x,
				 		 /images/projects/data@2x.png 2x">
			<h2>Responsible Data Management</h2>
			{% for post in site.categories.responsible-data %}
				{% if post.link %}
					<a class="card" href="{{ post.link }}">{{ post.name }}</a>
				{% else %}
					<a class="card" href="{{ post.url }}">{{ post.name }}</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class="category">
			<img src="/images/projects/homelessness.png"
				 srcset="/images/projects/homelessness.png 1x,
						 /images/projects/homelessness@2x.png 2x">
			<h2>Data-Driven Human Services</h2>
			{% for post in site.categories.human-services %}
				{% if post.link %}
					<a class="card" href="{{ post.link }}">{{ post.name }}</a>
				{% else %}
					<a class="card" href="{{ post.url }}">{{ post.name }}</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>