<!-- Affiliated Projects e -->
		<section id="projects" class="wrapper style1">
			<div class="container">
				<div class="row">
					<div>
						<article class="project_content">
							<h2>{{ page.name }}</h2>
							<div>
							{{ content }}	
							</div>
							<figure >
								<img src="{{site.baseurl}}/images/projects/{{ page.img_content }}" alt="{{ page.img_alt }}" />
								<figcaption>{{page.img_caption}}</figcaption>

							</figure>
						
						</article>
					</div>
				</div>
			</div>
		</section>