---
layout: news
---
<link rel="stylesheet" type="text/css" href="/css/post.css">
<section id="post">
	<div class="container center">
		<main>
			{% if page.image %}
				<img src="/{{page.image}}">
			{% endif %}
			{% if page.caption %}
				<div class="caption">Caption: {{page.caption}}</div>
			{% endif %}
			<article>
				<span>{{page.date | date: "%B %d, %Y" }} / BY <a>{{page.author}}</a></span>
				<h1><a>{{ page.title }}</a></h1>
				<p>{{ content }}</p>
			</article>
			<footer>
			<div class="tags">
				<h3>Tags</h3>
					{% for tag in page.tags %}
						<span>{{tag}}</span>
					{% endfor%}
				</div>
				{% include sidebar.html %}
			</footer>
		</main>
	</div>
</section>